* {
  margin: 0;
  box-sizing: border-box;
}


main {
  background-image: url('https://picsum.photos/id/1064/2550/1440');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* display: grid; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px
}

h1 {
  color: #fff;
  font-size: 15vw;
}

button {
  background-color: #f66;
  border: none;
  width: 150px;
  height: 50px;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
}
