* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin: 50px 0;
  text-align: center;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.row::after {
  content: '';
  clear: both;
  display: block;
}

.column {
  float: left;
  padding: 2px;
}

.content img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 1500px) {
  .column {
    width: 25%;
  }

  .content img {
    height: 200px;
  }
}


@media (min-width: 800px) and (max-width: 1500px) {
  .column {
    width: 50%;
  }

  .content img {
    height: 300px;
  }

}

@media (max-width: 800px) {
  .column {
    width: 100%;
  }

  .content img {
    height: 400px;
  }
}

.lists {
  list-style: none;
}

.nav li {
  /* list-style-type: none; */
  display: inline-block;
}

.slider li {
  display: inline-block;
}